.header{
    display: flex;
    justify-content: space-between;
   padding: 15px;
    
    .logos{
    
        .hamburger{
            margin-bottom: 15px;
        }
    }
    .user{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 2px 20px 0 crimson;
            padding: 5px;
            cursor: pointer;
        }
    }
}